<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/fragments/head :: head"><title>Orders</title></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ------------------------TABLE START----------------------------- -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Orders</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <thead>
                                            <tr>
                                                <th scope="col">Description</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Discount</th>
                                                <th scope="col">Purchase Order Id</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="lineItem : ${lineItems}">
                                                <td th:text="${lineItem.stockItem.description}"></td>
                                                <td th:text="${lineItem.quantity}"></td>
                                                <td th:text="${lineItem.stockItem.price.multiply(lineItem.quantity)}"></td>
                                                <td th:text="${lineItem.discount}"></td>
                                                <td><a class="btn btn-primary"
                                                       th:href="@{/order/order-detail/__${lineItem.order.id}__}">Order Details</a>
                                                </td>
                                                <td><a class="btn btn-primary"
                                                       th:href="@{/item/remove/__${lineItem.id}__}">Remove</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE END----------------------------- -->
            </div>
        </div>
    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>