<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar-admin :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Item Update</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/item/update/__${item.getId()}__}" method="post" th:object="${item}">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="item" class="col-form-label">Item Description</label>
                                                    <input id="item" th:field="*{description}" type="text" class="form-control"
                                                           placeholder="description">
<!--                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('')}">-->
<!--                                                        <ul>-->
<!--                                                            <li th:each="err : ${#fields.errors('')}"-->
<!--                                                                th:text="${err}"></li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="price" class="col-form-label">Price</label>
                                                    <input id="price" th:field="*{price}" type="number"
                                                           class="form-control" placeholder="price">
<!--                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('')}">-->
<!--                                                        <ul>-->
<!--                                                            <li th:each="err : ${#fields.errors('')}"-->
<!--                                                                th:text="${err}"></li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Item List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Description</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="eachItem : ${items}">
                                                <td th:text="${eachItem.description}"></td>
                                                <td th:text="${eachItem.price}"></td>
                                                <td>
                                                    <a th:href="@{/item/update/__${eachItem.id}__}">
                                                        <button type="button" class="btn btn-warning rounded-0">Update
                                                        </button>
                                                    </a>
                                                    <a th:href="@{/item/delete/__${eachItem.id}__}">
                                                        <button type="button" class="btn btn-danger rounded-0">Delete
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>